body {
    font-family: Arial, sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.loading-overlay {
    position: fixed;
    top: -15%;
    right: -15%;
    width: 130%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: rgba(17, 17, 17, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideOut 1s ease-in-out forwards;
    animation-delay: 3s;
    z-index: 2001;
}

.loading-overlay-shrink {
    animation: shrink 1s ease-in-out forwards;
    animation-delay: 2.2s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(10%)
    }

    100% {
        transform: translateX(-200%);
        display: none;
    }
}






@keyframes shrink {

    0%,
    40% {
        transform: scale(1);
        border-radius: 0%;
    }

    82%,
    100% {
        transform: scale(0);
        border-radius: 30%;
    }
}

.container {
    max-width: 70%;
    margin: 3% auto 0;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    animation: slideIn 2s ease-in-out forwards;
    animation-delay: 3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 240%;
    padding-bottom: 0px;
}

.titletwo {
    padding-top: 0px;
}

.aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
}

.aboutme-text-container {
    flex: 1 0 200px;
    /* don't go below 200px */
    margin-right: 20px;
}



a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: white;
}



@keyframes slideIn {
    0% {
        transform: translateX(200%);
    }

    80% {
        transform: translatex(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

h2,
h1,
p {
    color: #eee;

}

.Me {
    max-width: 60%;
}


ul {
    color: grey;
}

.animated {
    animation: pulse 2s infinite alternate;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}


.Languages {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
    padding: 10px;
    flex-wrap: wrap;
}


.more-aboutme {
    margin-top: 20px;
    color: #eee;
    font-size: 16px;
    line-height: 1.6;
}

.more-aboutme ul {
    list-style: none;
    padding: 0;
}

.more-aboutme ul li {
    margin-bottom: 10px;
}

.column-left,
.column-right {
    flex-basis: 48%;
    padding: 20px;
    background-color: #333;
    color: #eee;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    flex: 1 0 200px;
}



.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin: 5px;
}







.loader {
    transform: scale(4);
    width: 90px;
    height: 24px;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    /*animation: l5-0 3s infinite steps(12);*/
    animation-delay: 2.1s;
    animation: l5-0 3s steps(12);
    background:
        linear-gradient(rgba(17, 17, 17, 255) 0 0) 0 0/0% 100% no-repeat,
        radial-gradient(circle 3px, #eeee89 90%, rgba(17, 17, 17, 0)) 0 0/20% 100% rgba(17, 17, 17, 255);
    overflow: hidden;
}

.loader::before {
    content: "";
    width: 20px;
    transform: translate(-100%);
    border-radius: 50%;
    background: #ffff2d;
    /*
    animation: 
      l5-1 .25s .153s infinite steps(10) alternate,
      l5-2  3s        infinite linear;
    */
    animation:
        l5-1 .25s .153s infinite steps(10) alternate,
        l5-2 3s linear
}

@keyframes l5-1 {
    0% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 35%)
    }
}

@keyframes l5-2 {
    100% {
        transform: translate(90px)
    }
}

@keyframes l5-0 {
    100% {
        background-size: 120% 100%, 20% 100%
    }
}



.reviews-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
    padding: 10px;
    flex-wrap: wrap;
}

.review {
    background-color: #333;
    color: #eee;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    flex: 1;
    max-width: 300px;
    min-width: 250px;
}

.review-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.review-text {
    font-size: 1em;
    line-height: 1.4;
}

.more-info {
    background-color: #333;
    color: #eee;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.more-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.more-info p {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 10px;
}

.more-info a {
    color: #4b8bf5;
    text-decoration: none;
}

.more-info a:hover {
    text-decoration: underline;
}

#discordForm {
    font-family: Arial, sans-serif;
    background-color: #222;
    border-radius: 10px;
    /*box-shadow: 0 2px 10px rgba(0,0,0,0.3);*/
    padding: 20px;
    max-width: 90%;
    margin: 3% auto;
    text-align: center;
    width: 1000px;

}

#discordForm label {
    color: #eee;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

#discordForm input[type="text"] {
    width: 80%;
    min-width: 80%;
    max-width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    overflow-wrap: break-word;
}

#discordForm input[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#discordForm input[type="submit"]:hover {
    background-color: #939494;
}

#discordForm input[type="file"] {
    display: inline-block;
    padding: 10px 20px;
    color: #eee;
    background-color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#discordForm input[type="file"]:hover {
    background-color: #939494;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    color: #eee;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #939494;
}

#preview {

    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    70% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    70% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes slideButtonsOut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-90%);
    }
}

@keyframes slideButtonsIn {
    0% {
        transform: translateY(-90%);

    }

    100% {
        transform: translateY(0);
    }
}

.header {
    position: sticky;
    top: 25px;
    background-color: #282828;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: fit-content;
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideInFromTop 1s ease-in-out forwards;
    animation-delay: 4s;
    transform: translateY(-110%);
    scale: 1.5;
}

.header.hidden {
    animation: slideButtonsOut 1s ease-in-out forwards;
}

.header.shown {
    animation: slideButtonsIn 1s ease-in-out forwards;
}

#toggle-header {
    transition: transform 1s;
    margin-top: 0px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: -10px;
    ;
}

#toggle-header.rotated {
    transform: rotate(180deg);
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: fit-content;
    padding: 0 10px;
}

.button-container button {
    margin: 5px;
    padding: 14px;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #777;
}

#toggle-header {
    color: white;
}


#aboutme {
    margin-bottom: 10px;
    margin-top: 50px;
}

.my-opinion {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 300px;
    animation: fadeIn 1s ease-in-out forwards;
}

.review:hover .my-opinion {
    display: block;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 600px) {

    .aboutme,
    .Languages {
        flex-direction: column;
    }

    .image-container {
        justify-content: center;
    }

    .container {
        margin-bottom: 5%;
        padding: 10px;
        max-width: 85%;
    }

    .aboutme {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 95%;
    }

    .loading-overlay {
        animation: fadeOut 3s ease-in-out forwards;
        transform: scale(1.1);
    }

    .loading-overlay-shrink {
        animation: fadeOut 3s ease-in-out forwards;
        animation-delay: 2.2s;
    }

    .Me {
        max-width: 90%;
    }

    .reviews-container {
        flex-direction: column;
    }

    .header {
        width: 90%;
        position: fixed;
        top: auto;
        bottom: 10px;
        animation: slideInFromBottom 1s ease-in-out forwards;
        animation-delay: 3s;
        transform: translateX(400%);


        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        scale: 1;
    }

    .scroll-btn {
        width: fit-content;
        white-space: normal;
        max-width: 100px;
    }


    #toggle-header {
        display: none;
    }

    #aboutme {
        margin-bottom: 100px;
    }

}

/* Style the table */
#leaderboard {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

/* Style the table header */
#leaderboard th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

/* Style the table cells */
#leaderboard td,
#leaderboard th {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

#leaderboard tr:not(:first-child):hover {
    background-color: #f5f5f5;
}

#leaderboard tr td:first-child {
    padding-right: 20px;
    text-align: center;
}

/* Highlight the top 3 rows */
#leaderboard tr:nth-child(2) {
    background-color: gold;
}

/* 1st place */
#leaderboard tr:nth-child(3) {
    background-color: silver;
}

/* 2nd place */
#leaderboard tr:nth-child(4) {
    background-color: #cd7f32;
}

/* 3rd place */

#leaderboard tr {
    transition: background-color 0.3s ease;
}

#leaderboard {
    border-radius: 15px;
    overflow: hidden;
}

#leaderboard {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: auto;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105px;
    height: auto;
    margin: 0 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name {
    margin-bottom: 0.5em;
}

.score {
    font-size: 1.5em;
    line-height: 1.5em;
}

.names {
    padding-top: 10px;
}

#first {
    height: 200px;
    background-color: gold;
}

#second {
    height: 150px;
    background-color: silver;
}

#third {
    height: 100px;
    background-color: #cd7f32;
}

.Messagesclass {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;

}

#messageList {
    width: 100%;

}

.message {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto;

    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(21, 21, 22, 1);
    color: white;
}

.author {
    align-self: flex-start;
    font-size: large;
    font-size-adjust: initial + 5;
    font-weight: bold;
}

.timestamp {
    align-self: flex-end;
    color: grey;
    font-size: small;
}

.content {
    text-align: center;
    width: 80%;
    white-space: normal;
    overflow-wrap: break-word;
    padding-top: 4px;
    padding-bottom: 4px;
}

.return-button:hover {
    background-color: #f8f8f8;
}

#aboutme .Messagesclass {
    max-width: 100%;
    box-sizing: border-box;
}

#aboutme .Messagesclass {
    margin: 0;
    padding: 0;
}



@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message {
    animation: slideDown 0.5s ease-out forwards;
}

.author a {
    color: black;
    text-decoration: underline;
}

.author a:hover {
    color: #ccc;
}

input[type="file"] {
    display: block;
    margin: 10px 0;
}


img#imagePreview {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {

    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; 
    vertical-align: middle;
}
